# Rust / Cargo
/target
/**/target

# Editor / IDE
*.swp
*.swo
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env / secrets
/.env
*.log

# Slint generated (au cas où)
*.slint.rs

# Backups
*.bak
*.bak.*
